.card-container11 {
    padding-top: 20px;
}

.card-container11 .row .col-4:not(:last-child) .card, 
.card-container11 .row .col-md-6:not(:last-child) .card,
.card-container11 .row .col-sm-12:not(:last-child) .card {
    border: none;
    border-radius: 0;
}

.card-container11 .row .col-4:last-child .card, 
.card-container11 .row .col-md-12:last-child .card {
    border: 2px solid black;
    border-radius: 0;
}

.custom-card, .custom-card11 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.card-title1 {
    text-align: left;
}

.custom-image {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .card-title1, .card-text11 {
        text-align: center; 
    }
}
