.bold-text {
    font-weight: bold;
  }
  
.card-container {
    padding-top: 20px;
    padding-left: 140px;
}
.card-container .row > :not(:first-child) .custom-card .card-body {
    position: relative;
    top: -41px; 
}

.card-container .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.custom-card .btn {
    display: block;
    margin-top: 20px;
    background-color: black;
    border-radius: 0;
}

.card-container .row > :not(:first-child) .custom-card {
    border: none;
    border-radius: 0;
    padding-top: -190px;
}

.card-container .row > :first-child .custom-card {
    border: 2px solid black;
    border-radius: 0;
    padding-top: 60px;
}

.custom-card {
    width: 7cm;
    height: 7cm;
}
.card-title{
    text-align: left;
}

@media (max-width: 768px) {
    .card-container {
        padding-top: 20px;
        padding-left: 65px;
    }

    .card-container .row {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-container .row .col-sm-12 {
        flex: 0 0 100%;
    }

    .custom-card {
        height: auto;
    }

    .card-container .row > :first-child .custom-card {
        border: 2px solid black;
        border-radius: 0;
        padding-bottom: 30px;
    }

    .custom-card .btn {
        display: block;
        margin-left: 65px;
        background-color: black;
        border-radius: 0;
    }
}
