.container {
    background-color: #ccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.caption {
    font-size: 16px;
    max-width: 260px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .caption {
        max-width: 100%;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
